In [1]:
from google.colab import files

uploaded = files.upload()

Saving sales_project_data.csv to sales_project_data.csv

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('sales_project_data.csv')

In [4]:
df

   Order_ID  Order_Date   Product       City  Quantity  Revenue
0       301  2023-03-01    Laptop      Delhi         2   140000
1       302  2023-03-02     Mouse     Mumbai         5     3500
2       303  2023-03-03  Keyboard      Delhi         3     4500
3       304  2023-03-04   Monitor    Chennai         1    12000
4       305  2023-03-05     Mouse      Delhi         2     2800
5       306  2023-03-06   Monitor    Chennai         1    13000
6       307  2023-03-07    Laptop     Mumbai         1    70000
7       308  2023-03-08  Keyboard      Delhi         4     6000
8       309  2023-03-09     Mouse  Bangalore         2     1600
9       310  2023-03-10    Laptop     Mumbai         1    70000

**Total number of orders**

In [7]:
df['Order_ID'].count()

np.int64(10)

**Total revenue**

In [8]:
df['Revenue'].sum()

np.int64(323400)

**Total quantity sold**

In [9]:
df['Quantity'].sum()

np.int64(22)

**City-Level Analysis**
Total revenue per city

In [10]:
df.groupby('City')['Revenue'].sum()

City
Bangalore      1600
Chennai       25000
Delhi        153300
Mumbai       143500
Name: Revenue, dtype: int64

**Average quantity sold per city**

In [11]:
df.groupby('City')['Quantity'].mean()

City
Bangalore    2.000000
Chennai      1.000000
Delhi        2.750000
Mumbai       2.333333
Name: Quantity, dtype: float64

**Product-Level Insights**
Total revenue per product

In [16]:
df.groupby('Product')['Revenue'].sum()

Product
Keyboard     10500
Laptop      280000
Monitor      25000
Mouse         7900
Name: Revenue, dtype: int64

Product with the highest revenue

In [17]:
df.groupby('Product')['Revenue'].sum().idxmax()

'Laptop'

Average quantity per product

In [18]:
df.groupby('Product')['Quantity'].mean()

Product
Keyboard    3.500000
Laptop      1.333333
Monitor     1.000000
Mouse       3.000000
Name: Quantity, dtype: float64

**Time-Based Trends**

Sort by Order_Date (ascending)

In [21]:
sorted_df = df.sort_values(by="Order_Date", ascending=True)
print(sorted_df)

   Order_ID  Order_Date   Product       City  Quantity  Revenue
0       301  2023-03-01    Laptop      Delhi         2   140000
1       302  2023-03-02     Mouse     Mumbai         5     3500
2       303  2023-03-03  Keyboard      Delhi         3     4500
3       304  2023-03-04   Monitor    Chennai         1    12000
4       305  2023-03-05     Mouse      Delhi         2     2800
5       306  2023-03-06   Monitor    Chennai         1    13000
6       307  2023-03-07    Laptop     Mumbai         1    70000
7       308  2023-03-08  Keyboard      Delhi         4     6000
8       309  2023-03-09     Mouse  Bangalore         2     1600
9       310  2023-03-10    Laptop     Mumbai         1    70000

Revenue trend over time (print or plot if using Jupyter)

In [30]:
revenue=df.sort_values(by="Order_Date", ascending=False)
print(revenue['Revenue'])

9     70000
8      1600
7      6000
6     70000
5     13000
4      2800
3     12000
2      4500
1      3500
0    140000
Name: Revenue, dtype: int64 9    2023-03-10
8    2023-03-09
7    2023-03-08
6    2023-03-07
5    2023-03-06
4    2023-03-05
3    2023-03-04
2    2023-03-03
1    2023-03-02
0    2023-03-01
Name: Order_Date, dtype: object

Filter all orders where Revenue > ₹50,000

In [31]:
filterdf=df[df['Revenue']>50000]
print(filterdf)

   Order_ID  Order_Date Product    City  Quantity  Revenue
0       301  2023-03-01  Laptop   Delhi         2   140000
6       307  2023-03-07  Laptop  Mumbai         1    70000
9       310  2023-03-10  Laptop  Mumbai         1    70000